<h1>Staff profile</h1>
<h2>Welcome {{staff.name}} {{staff.lastName}}</h2>
<div class="students">
    <h3>Students</h3>
{{#each student as |user|}}
<ul>
    <li>{{user.name}} {{user.lastName}} - <b>{{{user.role}}}</b> <a href="/delete-student/{{this._id}}"><input type="submit" value="Delete"></a>
    </li>
</ul>
{{/each}}

<div class="staffguest">
    <h3>Guests</h3>
    {{#each guest}}
<ul>
    <li>{{this.name}} {{this.lastName}} - <b>{{{this.date}}}</b> <a href="/delete-guest/{{this._id}}"><input type="submit" value="Delete"></a>
    </li>
</ul>
{{/each}}
</div>
</div>
<a href="/invite-guest">Invite somenone</a>
<br>
<br>
<a href="/edit-staff">Edit profile</a>
<br>
<br>
<a href="../create-student"> Create student</a>
<br>
<br>
<a href="/logout">Logout</a>

