<h1>{{student}}</h1>
{{#each Student}}
<ul>
    <li>{{this.name}} </li>
     <li> {{this.lastName}} </li>
     <li>{{this.email}}</li>
     <li>{{this.course}}</li>
    
</ul>
{{/each}}
<a href="../create-guest"> 
<button> Invite a alguien</button>
</a>
